backend_image: docker.io/zjozjyr/service-desk-backend:latest
frontend_image: docker.io/zjozjyr/service-desk-frontend:latest

postgres_db: service_desk
postgres_user: service_desk
postgres_password: service_desk
postgres_port: "5432"

backend_port: "8000"
frontend_port: "8081"
app_env: prod
cors_origins: http://212.233.121.95,http://212.233.121.95:8081
