POSTGRES_DB={{ postgres_db | default('service_desk') }}
POSTGRES_USER={{ postgres_user | default('service_desk') }}
POSTGRES_PASSWORD={{ postgres_password | default('service_desk') }}
POSTGRES_HOST=db
POSTGRES_PORT={{ postgres_port | default('5432') }}

BACKEND_PORT={{ backend_port | default('8000') }}
APP_ENV={{ app_env | default('prod') }}
CORS_ORIGINS={{ cors_origins | default('http://212.233.121.95,http://212.233.121.95:8081') }}
UVICORN_RELOAD=0
RUN_MIGRATIONS=1

FRONTEND_PORT={{ frontend_port | default('8081') }}
VITE_API_BASE_URL=/api

BACKEND_IMAGE={{ backend_image | default('CHANGE_ME_BACKEND_IMAGE') }}
FRONTEND_IMAGE={{ frontend_image | default('CHANGE_ME_FRONTEND_IMAGE') }}
